[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"
flake8 = "*"

[packages]
pandas = "*"
jupyter = "*"
lxml = "*"
bokeh = "*"
html5lib = "*"
beautifulsoup4 = "*"
tweepy = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
tabulate = "*"

[requires]
python_version = "3.7"

[scripts]
format = "autopep8 --in-place --aggressive --aggressive -r"
